= simple_form_for @classifier_feature, url: url, html: {class: "form-horizontal"} do |f|
  = f.error_notification

  = f.input :name
  = f.input :category
  = f.input :count

  .form-group
    .col-sm-10.col-sm-offset-2
      = f.button :submit
