%h1
  Messages
  = link_to '+ New Message', new_message_path, class: "btn btn-default"

%hr

.well
  = simple_form_for @search, default_search_form_options(url: messages_path, html: {class: "form-inline"}) do |f|
    .form-group
      = f.input_field :external_id_eq
    .form-group
      = f.submit class: 'btn', value: 'Search'

= paginate @messages

.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th #
        %th= sort_link @search, :body
        %th= sort_link @search, :category
        %th= sort_link @search, :external_id
        %th

    %tbody
      - @messages.each do |message|
        %tr
          %td= message.id
          %td
            = message.body
            %hr
            - meta = Classifier.meta_classify(message.body)
            - meta[:categories].each do |category|
              = "#{category[:name]} (#{real_f(category[:fisher_prob])})"
              - meta[:features].each do |feature|
                - feature_cat = feature[:categories].find { |c| c[:name] == category[:name] }
                = feature[:name]
                = real_f(feature_cat[:weighted_prob])
              %hr

          %td
            %span{ class: "label #{message.category_class}" }
              = message.category
          %td= message.external_id
          %td.text-right
            = link_to t('mark_good'), good_message_path(message), class: 'btn btn-success', method: :patch
            = link_to t('mark_bad'), bad_message_path(message), class: 'btn btn-warning', method: :patch
            = edit_and_destroy_buttons(edit_message_path(message), message_path(message))

= paginate @messages
