!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "ScamTest"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"

  %body
    .main
      = nav_bar fixed: :top, brand: "ScamTest", brand_link: root_path do
        = menu_group do
          = menu_item t('messages'), messages_path
          = menu_item t('classifier'), classifier_features_path

      %br
      %br
      %br
      .container.base-content
        .row
          .col-lg-12
            = bootstrap_flash
            = yield
    %footer
      %p &copy; avk@8xx8.ru
